<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gwtravel">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".view.app.ImageLoaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.BaseActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity android:name=".view.activity.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.QueryCompanyActivity" />
        <activity android:name=".view.activity.SubmitPersonInfoActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.MessageActivity" />
        <activity android:name=".view.activity.BusinessActivity" />
        <activity android:name=".view.activity.MyBillsActivity" />
        <activity android:name=".view.activity.HelpActivity" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity android:name=".view.activity.AddressActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity android:name=".view.activity.SubmitBillActivity" />
        <activity android:name=".view.activity.CarBillDetailsActivity" />
        <activity android:name=".view.activity.BuyTicketActivity" />
        <activity android:name=".ShuttleBusDetialActivity" />
        <activity android:name=".view.activity.HelpDetialActivity" />
        <activity android:name=".view.activity.ModifyPswActivity" />
        <activity android:name=".view.activity.NotifyActivity" />
        <activity android:name=".view.activity.SuggestionActivity" />
        <activity android:name=".view.activity.AboutActivity" />
        <activity android:name=".view.activity.VersionActivity" />
        <activity android:name=".view.activity.GCTActivity"></activity>
        <activity android:name=".view.activity.WebActivity"/>
    </application>

</manifest>